@import url("page.css");

@media all
{
    #preamble {
        color: #009890;
        background-color: #009890;
    }

    #postamble {
        color: #009890;
        background-color: #009890;
    }
}